<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Մեր մասին</title>
    <link href="../Content/bootstrap-5.1.3-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="../Content/JQuery3.6/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="../Content/bootstrap-5.1.3-dist/js/bootstrap.js" type="text/javascript"></script>
    <link href="../Content/StyleSheet3.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:black">
    <header class="p-3 bg-dark text-white">
        <div class="container ">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><h3><a href="Main.html" class="nav-link px-3 text-warning btn-outline-light">Գլխավոր էջ</a></h3></li>
                    <li><h3><a href="About.html" class="nav-link px-3 text-warning btn-outline-light">Մեր մասին</a></h3></li>
                    <li><h3><a href="Delivery.html" class="nav-link px-3 text-warning btn-outline-light">Առաքում</a></h3></li>
                </ul>

                <div class="text-end">

                    <a class="btn btn-warning btn-outline-light" href="LoginPage.html">Մուտք</a>
                    <a class="btn btn-warning btn-outline-light" href="RegistrationPage.html">Գրանցվել</a>
                    <a class="btn btn-warning btn-outline-light"> <img src="../Image/OIP.jpg" style="height:20px; width:30px; border:0"> </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container" style="height:600px">
        <div class="row">
            <div class="col-sm-4">
                <img src="../Image/Gravity.png" />
            </div>
            <div class="col-sm-8">
                <div class="textcolorabout">
                    <h1>Մեր մասին  </h1>
                   
                    <p>
                        <h2>
                            «Gravity»-ն հիմնադրվել է 2021 թվականին Անդրանիկ Սարգսյանի կողմից կազմակերպված դասըթացի շնորհիվ:
                            Կարճ ժամանակահատվածում, իր բարձրակարգ սպասարկման և անմիջական մթնոլորտի շնորհիվ,
                            դարձավ սիրելի վայր ոչ միայն երևանցիների, այլ նաև օտարերկրացիների համար: Զբոսաշրջիկները ժամանելով Երևան այցելում են մեր ռեստորանը`
                            վայելելու ամենահամեղ, զանազան տեսակի ուտեստներ: Համաքաղաքացիներից շատերը, արագ և որակյալ սպասարկման համար, նախընտրում են աշխատանքային ընդմիջումը անցկացնել մեր մոտ:

                        </h2>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>