<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Main</title>
    <link href="../Content/bootstrap-5.1.3-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="../Content/JQuery3.6/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="../Content/bootstrap-5.1.3-dist/js/bootstrap.js" type="text/javascript"></script>
    <link href="../Content/StyleSheet3.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:black">
    <header class="p-3 bg-dark text-white">
        <div class="container ">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><h3><a href="Main.html" class="nav-link px-3 text-warning btn-outline-light">Գլխավոր էջ</a></h3></li>
                    <li><h3><a href="About.html" class="nav-link px-3 text-warning btn-outline-light">Մեր մասին</a></h3></li>
                    <li><h3><a href="Delivery.html" class="nav-link px-3 text-warning btn-outline-light">Առաքում</a></h3></li>
                </ul>

                <div class="text-end">

                    <a class="btn btn-warning btn-outline-light" href="LoginPage.html">Մուտք</a>
                    <a class="btn btn-warning btn-outline-light" href="RegistrationPage.html">Գրանցվել</a>
                    <a class="btn btn-warning btn-outline-light"> <img src="../Image/OIP.jpg" style="height:20px; width:30px; border:0"> </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid" display: flex; style="height:700px">
        <div class="row">
            <div class="col-sm-2">



                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 100%; height:715px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                        <span class="fs-4">Gravity</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="Main.html" class="nav-link active" aria-current="page">
                                <svg class="bi me-2" width="16" height="16"></svg>

                                Ապուր
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="Salads.html" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"></svg>

                                Աղցան
                            </a>
                        </li>

                        <li>
                            <a href="Salads.html" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"></svg>
                                Խավարտ
                            </a>
                        </li>
                        <li>
                            <a href="Salads.html" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"></svg>
                                Տաք ուտեստներ
                            </a>
                        </li>
                        <li>
                            <a href="Drinks.html" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"></svg>
                                Ըմպելիք
                            </a>
                        </li>
                    </ul>
                    <hr>

                </div>

            </div>
            <div class="col-sm-10 size1">



                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-5 g-6" style="margin-top:15px">


                    <div class="col">
                        <div class="card  text-white bg-dark" style="border-radius:20px;width:200px;">
                            <img src="../Image/tjvjik.jpg" class="card-img-top" style="border-top-left-radius: 20px;border-top-right-radius: 20px " alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Տժվժիկ</h5>
                                <p class="card-text"> 1000 դր</p>
                                <button type="button" class="btn btn-sm btn-warning">Զամբյուղ</button>
                                <input type="number" class=" btn-sm btn btn-light" style="width:75px">
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card  text-white bg-dark" style="border-radius:20px;width:200px;">
                            <img src="../Image/tjvjik.jpg" class="card-img-top" style="border-top-left-radius: 20px;border-top-right-radius: 20px " alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Տժվժիկ</h5>
                                <p class="card-text"> 1000 դր</p>
                                <button type="button" class="btn btn-sm btn-warning">Զամբյուղ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card  text-white bg-dark" style="border-radius:20px;width:200px;">
                            <img src="../Image/tjvjik.jpg" class="card-img-top" style="border-top-left-radius: 20px;border-top-right-radius: 20px " alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Տժվժիկ</h5>
                                <p class="card-text"> 1000 դր</p>
                                <button type="button" class="btn btn-sm btn-warning">Զամբյուղ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card  text-white bg-dark" style="border-radius:20px;width:200px;">
                            <img src="../Image/tjvjik.jpg" class="card-img-top" style="border-top-left-radius: 20px;border-top-right-radius: 20px " alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Տժվժիկ</h5>
                                <p class="card-text"> 1000 դր</p>
                                <button type="button" class="btn btn-sm btn-warning">Զամբյուղ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card  text-white bg-dark" style="border-radius:20px;width:200px;">
                            <img src="../Image/tjvjik.jpg" class="card-img-top" style="border-top-left-radius: 20px;border-top-right-radius: 20px " alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Տժվժիկ</h5>
                                <p class="card-text"> 1000 դր</p>
                                <button type="button" class="btn btn-sm btn-warning">Զամբյուղ</button>
                            </div>
                        </div>
                    </div>



                </div>


                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-5 g-6" style="margin-top:15px">


                    <div class="col">
                        <div class="card  text-white bg-dark" style="border-radius:20px;width:200px;">
                            <img src="../Image/tjvjik.jpg" class="card-img-top" style="border-top-left-radius: 20px;border-top-right-radius: 20px " alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Տժվժիկ</h5>
                                <p class="card-text"> 1000 դր</p>
                                <button type="button" class="btn btn-sm btn-warning">Զամբյուղ</button>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card  text-white bg-dark" style="border-radius:20px;width:200px;">
                            <img src="../Image/tjvjik.jpg" class="card-img-top" style="border-top-left-radius: 20px;border-top-right-radius: 20px " alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Տժվժիկ</h5>
                                <p class="card-text"> 1000 դր</p>
                                <button type="button" class="btn btn-sm btn-warning">Զամբյուղ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card  text-white bg-dark" style="border-radius:20px;width:200px;">
                            <img src="../Image/tjvjik.jpg" class="card-img-top" style="border-top-left-radius: 20px;border-top-right-radius: 20px " alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Տժվժիկ</h5>
                                <p class="card-text"> 1000 դր</p>
                                <button type="button" class="btn btn-sm btn-warning">Զամբյուղ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card  text-white bg-dark" style="border-radius:20px;width:200px;">
                            <img src="../Image/tjvjik.jpg" class="card-img-top" style="border-top-left-radius: 20px;border-top-right-radius: 20px " alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Տժվժիկ</h5>
                                <p class="card-text"> 1000 դր</p>
                                <button type="button" class="btn btn-sm btn-warning">Զամբյուղ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card  text-white bg-dark" style="border-radius:20px;width:200px;">
                            <img src="../Image/tjvjik.jpg" class="card-img-top" style="border-top-left-radius: 20px;border-top-right-radius: 20px " alt="...">

                            <div class="card-body">
                                <h5 class="card-title">Տժվժիկ</h5>
                                <p class="card-text"> 1000 դր</p>
                                <button type="button" class="btn btn-sm btn-warning">Զամբյուղ</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="text-white">© 2021 Company, Inc</span>
        </div>

    </footer>

</body>
</html>
